@using Ticket_Booking_System.Models
@using System.Web.Mvc.Html
<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css" integrity="sha512-2SwdPD6INVrV/lHTZbO2nodKhrnDdJK9/kg2XD1r9uGqPo1cUbujc+IYdlYdEErWNu69gVcYgdxlmVmzTWnetw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="~/Content/css/Trip.css" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link href="~/Content/css/base.css" rel="stylesheet" />

    <link href="~/Content/css/index.css" rel="stylesheet" />
</head>

<body>
    <div class="wrapper container-fluid">
        <!--Layout chính-->
        <header>
            <div class="container-fluid">
                <div class="row justify-content-between">
                    <a class="d-block col-auto" href="/KhachHang/Index">
                        <img src="https://futabus.vn/_next/static/media/logo_banner_mb.6e0db6f9.svg" alt="" width="150">
                    </a>
                    @if (Session["UserID"] != null)
                    {
                        <div class="col-auto">
                            <a href="@Url.Action("LogOut", "Auth")" class="text-white">
                                <i class="bi bi-box-arrow-in-left fs-3"></i>
                            </a>
                        </div>

                    }
                    else
                    {
                        <div class="col-auto">
                            <button class="Login_Logout btn btn-light mt-1 " onclick="showLoginForm()">
                                <i class="bi bi-person"></i>
                                <span class="d-none d-lg-inline-block">Đăng nhập/Đăng kí</span>
                            </button>
                        </div>
                    }

                </div>
                <div class="row">
                    <nav class="navbar navbar-expand-lg">
                        <div class="container-fluid">

                            <div class="offcanvas offcanvas-end " tabindex="-1" id="offcanvasNavbar"
                                 aria-labelledby="offcanvasNavbarLabel">
                                <div class="offcanvas-header">
                                    <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Menu</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="offcanvas"
                                            aria-label="Close"></button>
                                </div>
                                <div class="offcanvas-body ">
                                    <ul class="navbar-nav justify-content-center flex-grow-1 ">
                                        <li class="nav-item mx-lg-3">
                                            <a class="nav-link text-white active" aria-current="page"
                                               href="/Home/Index">Trang chủ</a>
                                        </li>

                                        <li class="nav-item mx-lg-3">
                                            <a class="nav-link text-white" href="/Ticket/FindTicket">Tra cứu vé</a>
                                        </li>
                                        <li class="nav-item mx-lg-3">
                                            <a class="nav-link text-white" href="/Bill/TraCuuHoaDon">Hóa đơn</a>
                                        </li>
                                        <li class="nav-item mx-lg-3">
                                            <a class="nav-link text-white" href="/Bill/LichSuVe">Lịch sử vé</a>
                                        </li>
                                        <li class="nav-item mx-lg-3">
                                            <a class="nav-link text-white" href="/Customer/AboutUs">Về chúng tôi</a>
                                        </li>


                                        <li class="nav-item login-offcanvs d-lg-none">
                                            <a class="nav-link text-white" href="#"></a>
                                        </li>
                                    </ul>

                                </div>
                            </div>

                            <button class="navbar-toggler bg-white border-0 ms-auto" type="button"
                                    data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar"
                                    aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
                                <span class="navbar-toggler-icon"></span>
                            </button>


                        </div>
                    </nav>
                </div>
                <div class="banner row w-75 justify-content-center d-none d-md-block">
                    <img src="~/Content/Images/Bigbanner.png"
                         alt="">
                </div>
            </div>

        </header>
        <div class="content row">
            <div class="container">
                <!-- Ảnh banner -->
                <!-- Tìm chuyến xe -->

                <!--Các chuyến phổ biến-->
                @RenderBody()

                <!--Danh sách các tuyến phổ biến-->
                @*@Html.Action("PopularTrip", "Trip")*@

            </div>
        </div>
    </div>
    <footer class="footer">
        <div class="container">
            <div class="row">
                <!-- Contact Information -->
                <div class="col-md-4">
                    <h5>TRUNG TÂM TỔNG ĐÀI & CSKH</h5>
                    <p class="contact-info">
                        <strong style="font-size: 24px; color: #dc3545;">1900 6067</strong><br>
                        <strong>CÔNG TY CỔ PHẦN XE KHÁCH PHƯƠNG TRANG - FUTA BUS LINES</strong><br>
                        Địa chỉ: Số 01 Tô Hiến Thành, Phường 3, Thành phố Đà Lạt, Tỉnh Lâm Đồng, Việt Nam.<br>
                        Email: <a href="mailto:hotro@futa.vn">hotro@futa.vn</a><br>
                        Điện thoại: 02838386852<br>
                        Fax: 02838386853
                    </p>
                </div>

                <!-- App Links -->
                <div class="col-md-4">
                    <h5>TẢI APP FUTA</h5>
                    <div class="app-links">
                        <a href="#">
                            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSADMTEo4YEurEn-gXFBOfumKYAJMviq-T9ww&s"
                                 alt="Google Play" style="height: 40px; width: 100px;">
                        </a>
                        <a href="#">
                            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQT5wbyQA1MXQWe_E1TtPb5zBklQjH_N_xVnQ&s"
                                 alt="App Store" style="height: 40px; width: 100px;">
                        </a>
                    </div>
                </div>

                <!-- Links Section -->
                <div class="col-md-4">
                    <h5>FUTA Bus Lines</h5>
                    <ul class="list-unstyled">
                        <li><a href="KhachHang/AboutUs">Về chúng tôi</a></li>

                        <li>Tuyển dụng</li>
                        <li>Tin tức & Sự kiện</li>
                        <li>Mạng lưới văn phòng</li>
                    </ul>
                </div>


            </div>

            <!-- Footer Bottom -->
            <div class="row mt-4">
                <div class="col-md-6">
                    <img src="https://cdn.futabus.vn/futa-busline-cms-dev/Bus_Lines_817c989817/Bus_Lines_817c989817.svg"
                         alt="FUTA Logo" style="height: 30px;">
                </div>

            </div>

        </div>
    </footer>
    <div class="bg-secondary row p-3 text-white justify-content-center align-items-center">
        © 2023|Bản quyền thuộc về Công ty Cổ Phần Xe khách Phương Trang - FUTA Bus Lines 2023
        Chịu trách nhiệm quản lý nội dung: Ông Võ Duy Thành
    </div>


    <div class="overlay"></div>

    <div class="login-form">
        <form id="login-form1" action="/Auth/Login" method="post" enctype="multipart/form-data">
            <button type="button" class="close-form border-0 p-0" aria-label="Close" onclick="closeLoginForm()">
                <span class="fs-2" aria-hidden="true">&times;</span>
            </button>
            <div class="header-form-text text-center co-6 fs-2">Đăng nhập</div>
            <div class="my-5">
                <input type="tel" name="numberphone" class="form-control-lg form-control" id="Phone-number-login"
                       placeholder="Số điện thoại">
                <span class="form-message"></span>
            </div>
            <div class="my-5">
                <input type="password" name="pw" class="form-control-lg form-control" id="Pw-login"
                       placeholder="Mật khẩu">
                <span class="form-message"></span>
            </div>
            @if (ViewBag.Error != null)
            {
                <div class="alert alert-danger text-center">
                    @ViewBag.Error
                </div>
            }

            <div class="row justify-content-center">
                <button type="submit" class="btn btn-primary w-50" style="background-color: #f97019;">
                    Đăng
                    nhập
                </button>
            </div>
            <div class="form-footer">
                <span>Chưa có tài khoản ?</span>
                <a href="" class="register-link">Ấn vào đây để đăng ký</a>
            </div>
        </form>
    </div>
    <div class="register-form">
        <form action="/Auth/SignUp" id="register-form1" method="post" enctype="multipart/form-data">
            <button type="button" class="close-form border-0 p-0 " aria-label="Close" onclick="closeRegisterForm()">
                <span class="fs-2" aria-hidden="true">&times;</span>
            </button>
            <div class="header-form-text text-center co-6 fs-2">Đăng ký</div>
            <div class="my-3">
                <input type="text" name="tenkh" class="form-control" id="tenkh" placeholder="Họ Tên">
                <span class="form-message"></span>
            </div>
            <div class="my-3 form-group">
                <input name="numberphone"
                       type="tel"
                       class="form-control"
                       id="Phone-number"
                       placeholder="Số điện thoại"
                       pattern="[0-9]{10}"
                       maxlength="10"
                       oninput="this.value = this.value.replace(/[^0-9]/g, '')">
                <span class="form-message"></span>
                <span class="form-message"></span>
            </div>
            <div class="my-3 form-group">

                <input name="Address" type="text" class=" form-control" id="Address" placeholder="Địa chỉ">
                <span class="form-message"></span>
            </div>
            <div class="my-3 form-group">

                <input name="pw" type="password" class=" form-control" id="Pw-register" placeholder="Mật khẩu">
                <span class="form-message"></span>
            </div>
            <div class="my-3 form-group">

                <input name="confrimed-pw" type="password" class=" form-control" id="Pw-confrim"
                       placeholder="Xác nhận mật khẩu">
                <span class="form-message"></span>
            </div>
            @if (ViewBag.Error != null)
            {
                <div class="alert alert-danger text-center">
                    @ViewBag.Error
                </div>
            }
            @if (TempData["Success"] != null)
            {
                <div class="alert alert-success text-center">
                    @TempData["Success"]
                </div>
            }
            <div class="row justify-content-center">
                <button type="submit" class="btn w-50" style="background-color: #f97019;">Đăng ký</button>
            </div>


        </form>
    </div>




    <script src="~/Content/js/index.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-standalone/6.26.0/babel.min.js"></script>
    <script>
        const today = new Date().toISOString().split("T")[0];
        document.getElementById("date").setAttribute("min", today);
    </script>
    <script>
         document.addEventListener("DOMContentLoaded", function() {
            var showLogin = '@TempData["ShowLogin"]';
            if (showLogin === 'True') {
                showLoginForm();
            }
        });
    </script>
    <script>
        document.addEventListener("DOMContentLoaded", function() {
            var showRegister = '@TempData["ShowRegister"]';
            if (showRegister === 'True') {
                showRegisterForm();
          }
        });
    </script>
    <script>


document.addEventListener("DOMContentLoaded", function() {
    var showRegister = '@ViewBag.ShowRegister';
    if (showRegister === 'True') {
        showRegisterForm();
    }
});

        document.addEventListener("DOMContentLoaded", function () {
            const fromCity = document.getElementById("fromCity");
            const toCity = document.getElementById("toCity");

            function syncSelects(changedSelect, otherSelect) {
                const selectedValue = changedSelect.value;

                for (let option of otherSelect.options) {
                    option.style.display = "block";
                }

                if (selectedValue) {
                    for (let option of otherSelect.options) {
                        if (option.value === selectedValue) {
                            option.style.display = "none";
                        }
                    }
                }

                if (otherSelect.value === selectedValue) {
                    otherSelect.value = "";
                }
            }

            fromCity.addEventListener("change", function () {
                syncSelects(fromCity, toCity);
            });

            toCity.addEventListener("change", function () {
                syncSelects(toCity, fromCity);
            });

            syncSelects(fromCity, toCity);
            syncSelects(toCity, fromCity);
        });



    </script>

    @RenderSection("Scripts", required: false)
</body>

</html>